:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

body {
  background-color: #eee;
  font-family: "Helvetica";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  text-align: center;
}
img {
  max-width: 15%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}
.description {
  font-style: italic;
}

#survey-form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
  background: #1b1b32;
  align-items: center;
  text-align: justify;
  padding: 10px 5px;
  border: 1px #000 solid;
  border-radius: 5px;
  margin: 10px;
  width: 30em;
}

#name-label {
  font-weight: 700;
}

.form-group > .form-control {
  background-color: #ddd;
}
